# Compiled output
/bin/
/obj/

# VS user files
/*.csproj.user
/*.suo
/*.user
/*.sln.docstates
/*.userosscache

#ReSharper
_ReSharper*/

# Test Results
/TestResults/
/Debug/
/Release/

# Build artifacts
/build/
/out/
/publish/

# Packages
/packages/
/artifacts/

# Dependency files (nuget, npm, bower, etc.)
/node_modules/
/bower_components/

#Temporary files
*.tmp
*.~*

# Visual Studio temporary files
_UpgradeReport_Files/

# Other
*.log
*.swp
*.DS_Store
Thumbs.db

# Mini-LM files
/MiniModel/out/  # Exclude generated model files
#Certificates
*.pfx

#Windows files
*.cab
*.msi